---
// ContentCarousel.astro
import Carousel from '../../ui/Carousel.astro';
---

<Carousel>

  <!-- Slide 1 -->
  <div class="carousel-slide relative">
    <picture>
      <source srcset="/images/carousel/car-dulces-phone-1.png" media="(max-width: 768px)" />
      <img
        src="/images/carousel/car-dulces-1.png"
        alt="Calidad y confianza en sabores Deiman"
        class="absolute inset-0 w-full h-full object-cover -z-10"
      />
    </picture>

    <div class="absolute inset-0 flex items-center justify-start text-white px-6 sm:px-10 md:px-20">
      <div class="max-w-sm text-left" style="text-shadow: 1px 1px 1px rgba(0,0,0,0.2);">
        <h2 class="text-3xl sm:text-4xl md:text-5xl font-pastel mb-4 drop-shadow-lg">
          ¡Conocé nuestros sabores <span class="text-cyan-200 drop-shadow-md italic">dulces</span>!
        </h2>  
        <hr class="my-4 border-t border-white/30" />
        <p class="text-base sm:text-lg md:text-xl">
          Nuestra línea dulce incluye <span class="text-cyan-200 font-semibold">vainillas intensas y cremosas</span>, <span class="text-cyan-200 font-semibold">chocolates profundos</span> y perfiles como <span class="text-cyan-200 font-semibold">marroc, frutos rojos y caramelo</span>, ideales para aplicaciones en repostería, lácteos y panificados.  
        </p>
      </div>
    </div>
  </div>

  <!-- Slide 2 -->
  <div class="carousel-slide relative">
    <picture>
      <!-- <source srcset="/images/carousel/car-2-mobile.jpg" media="(max-width: 768px)" /> -->
      <img
        src="/images/carousel/car-2.jpg"
        alt="Sabores de repostería"
        class="absolute inset-0 w-full h-full object-cover -z-10"
      />
    </picture>

    <div class="absolute inset-0 flex items-center justify-end text-white px-6 sm:px-10 md:px-20">
      <div class="max-w-md text-right" style="text-shadow: 1px 1px 1px rgba(0,0,0,0.2);">
        <h2 class="text-3xl sm:text-4xl md:text-5xl font-pastel mb-4 drop-shadow-lg">
          Sabores <span class="drop-shadow-md italic">dulces</span> para deleitar tu paladar
        </h2>        
        <p class="text-base sm:text-lg md:text-xl mb-6 drop-shadow">
          Formulamos cada sabor con <span class="font-semibold text-white">ingredientes naturales seleccionados</span> y tecnología de precisión, garantizando <span>consistencia, estabilidad térmica y autenticidad sensorial</span> en el producto final.
        </p>
      </div>
    </div>
  </div>

</Carousel>
