---
import FlavorFeature from "./FlavorFeature.astro";


---
<FlavorFeature
noAnimation={true}
id="familias"
tagline="Descubrí nuestras"
title='Líneas de <span class="animate-gradient-text">Sabores</span>'
subtitle="Creamos Sabores Únicos para todo tipo de productos alimenticios, desarrollados con ingredientes naturales seleccionados, un riguroso proceso de control de calidad y el respaldo de tecnología avanzada en formulación."
items={[
  {
    title: 'DULCES',
    image: '/images/sabores/dulces.jpg',
    href: '/sabores/dulces',
    buttonText: 'Ver sabores',
  },
  {
    title: 'SALADOS',
    image: '/images/sabores/salados.jpg',
    href: '/sabores/salados',
    buttonText: 'Ver sabores',
  },
  {
    title: 'PANIFICADOS',
    image: '/images/sabores/panificados.jpg',
    href: '/sabores/panificados',
    buttonText: 'Ver sabores',
  },
  {
    title: 'CÍTRICOS',
    image: '/images/sabores/citricos.jpg',
    href: '/sabores/citricos',
    buttonText: 'Ver sabores',
  },
  {
    title: 'LABORATORIO',
    image: '/images/sabores/laboratory.jpg',
    href: '/laboratorio',
    buttonText: 'Descubrí nuestros desarrollos',
    description: 'Desarrollamos sabores y notas personalizadas, adaptándonos a las necesidades de cada cliente.',
  },
]}
/>