---
import FlavorFeature from './FlavorFeature.astro';
---

<FlavorFeature
  noAnimation={true}
  id="familias-industriales"
  tagline="Líneas industriales"
  title='Soluciones para <span class="animate-gradient-text">producción industrial</span>'
  subtitle='Desarrollos para procesos de gran escala. <span class="text-primary font-semibold">Todas las escencias pueden ser tanto líquidas como en polvo.</span>'
  items={[
    {
      title: 'Escencias naturales',
      image: '/images/backgrounds/escencias.jpg',
      href: '/contact',
      buttonText: 'Consultar',
    },
    {
      title: 'Escencias',
      image: '/images/backgrounds/escencias.jpg',
      href: '/contact',
      buttonText: 'Consultar',
    },
    {
      title: 'Colorantes',
      image: '/images/backgrounds/industriales.jpg',
      href: '/contact',
      buttonText: 'Consultar',
    },
    {
      title: 'Emulsiones',
      image: '/images/backgrounds/industriales.jpg',
      href: '/contact',
      buttonText: 'Consultar',
    },
    {
      title: 'Extracto de cacao',
      image: '/images/backgrounds/industriales.jpg',
      href: '/contact',
      buttonText: 'Consultar',
    },
  ]}
/>
