---
import FlavorFeature from './FlavorFeature.astro';
import escenciasNaturalesImg from '~/assets/images/escencias-naturales.jpg';
import escenciasImg from '~/assets/images/escencias.jpg';
import colorantesImg from '~/assets/images/colorantes.jpg';
import emulsionesImg from '~/assets/images/emulsiones.jpg';
import extractoCacaoImg from '~/assets/images/extracto-de-cacao.jpg';

---

<FlavorFeature
  noAnimation={true}
  id="familias-industriales"
  tagline="Líneas industriales"
  title='Soluciones para <span class="animate-gradient-text">producción industrial</span>'
  subtitle='Desarrollos para procesos de gran escala. <span class="text-primary font-semibold">Todas las escencias pueden ser tanto líquidas como en polvo.</span>'
  items={[
    {
      title: 'Escencias naturales',
      image: escenciasNaturalesImg,
      href: '/escencias-naturales',
      buttonText: 'Consultar',
    },
    {
      title: 'Escencias',
      image: escenciasImg,
      href: '/escencias',
      buttonText: 'Consultar',
    },
    {
      title: 'Colorantes',
      image: colorantesImg,
      href: '/colorantes',
      buttonText: 'Consultar',
    },
    {
      title: 'Emulsiones',
      image: emulsionesImg,
      href: '/emulsiones',
      buttonText: 'Consultar',
    },
    {
      title: 'Extracto de cacao',
      image: extractoCacaoImg,
      href: '/extracto-de-cacao',
      buttonText: 'Consultar',
    },
  ]}
/>
