---
import FlavorFeature from './FlavorFeature.astro';
---

<FlavorFeature
  noAnimation={true}
  id="familias-semi-industriales"
  tagline="Líneas semi industriales"
  title='Perfil aromático <span class="animate-gradient-text">para producciones medianas</span>'
  subtitle='Flexibilidad y rendimiento para lotes medianos. <span class="text-primary font-semibold">Todas las escencias pueden ser tanto líquidas como en polvo.</span>'
  items={[
    {
      title: 'Escencias naturales',
      image: '/images/backgrounds/escencias.jpg',
      href: '/productos/escencias-naturales',
      buttonText: 'Consultar',
    },
    {
      title: 'Escencias',
      image: '/images/backgrounds/escencias.jpg',
      href: '/productos/escencias',
      buttonText: 'Consultar',
    },
    {
      title: 'Colorantes',
      image: '/images/backgrounds/semi-industriales.jpg',
      href: '/productos/colorantes',
      buttonText: 'Consultar',
    },
    {
      title: 'Emulsiones',
      image: '/images/backgrounds/semi-industriales.jpg',
      href: '/productos/emulsiones',
      buttonText: 'Consultar',
    },
    {
      title: 'Concentrados',
      image: '/images/backgrounds/semi-industriales.jpg',
      href: '/productos/concentrados',
      buttonText: 'Consultar',
    },
  ]}
/>
