---
import FlavorFeature from './FlavorFeature.astro';
import escenciasNaturalesImg from '~/assets/images/escencias-naturales.jpg';
import escenciasImg from '~/assets/images/escencias.jpg';
import colorantesImg from '~/assets/images/colorantes.jpg';
import emulsionesImg from '~/assets/images/emulsiones.jpg';
import concentradosImg from '~/assets/images/concentrados.jpg';


---

<FlavorFeature
  id="familias-semi-industriales"
  tagline="Líneas semi industriales"
  title='Perfil aromático <span class="animate-gradient-text">para producciones medianas</span>'
  subtitle='Flexibilidad y rendimiento para lotes medianos. <span class="text-primary font-semibold">Todas las escencias pueden ser tanto líquidas como en polvo.</span>'
  items={[
    {
      title: 'Escencias naturales',
      image: escenciasNaturalesImg,
      href: '/escencias-naturales',
      buttonText: 'Consultar',
    },
    {
      title: 'Escencias',
      image: escenciasImg,
      href: '/escencias',
      buttonText: 'Consultar',
    },
    {
      title: 'Colorantes',
      image: colorantesImg,
      href: '/colorantes',
      buttonText: 'Consultar',
    },
    {
      title: 'Emulsiones',
      image: emulsionesImg,
      href: '/emulsiones',
      buttonText: 'Consultar',
    },
    {
      title: 'Concentrados',
      image: concentradosImg,
      href: '/concentrados',
      buttonText: 'Consultar',
    },
  ]}
/>
