---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import SupportOverview from '~/components/widgets/SupportOverview.astro';

const metadata = {
  title: 'Contacto ',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contacto" title="¿Hablamos?" />

  <ContactUs
    action="https://formspree.io/f/xblkdkle"
    id="form"
    title='<span class="text-primary font-bold mb-5">¡Dejanos tu mensaje!</span>'
    subtitle='Si querés <span class="text-primary font-bold">solicitar el catálogo</span>, desarrollar un nuevo sabor, necesitás asesoramiento técnico o querés conocer más sobre nuestros productos, completá el siguiente formulario y nuestro equipo se pondrá en contacto con vos a la brevedad.'
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Nombre',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Correo electrónico',
      },
    ]}
    textarea={{
      label: 'Mensaje',
    }}
    disclaimer={{
      label:
        'Al enviar este formulario aceptás que Deiman utilice tus datos para responder tu consulta. Tus datos no serán compartidos con terceros.',
    }}
    description="Respondemos habitualmente dentro de las 24 horas hábiles."
  />

  <!-- Features2 Widget ************** -->

  <!-- Support Overview Widget **************** -->
  <SupportOverview/>
</Layout>
