---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contacto - Deiman',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contacto" title="¿Hablamos?" />

  <ContactUs
    id="form"
    title='<span class="text-primary font-bold">Dejanos tu mensaje</span>'
    subtitle="Si querés desarrollar un nuevo sabor, necesitás asesoramiento técnico o querés conocer más sobre nuestros productos, completá el siguiente formulario y nuestro equipo se pondrá en contacto con vos a la brevedad."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Nombre',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Correo electrónico',
      },
    ]}
    textarea={{
      label: 'Mensaje',
    }}
    disclaimer={{
      label:
        'Al enviar este formulario aceptás que Deiman utilice tus datos para responder tu consulta. Tus datos no serán compartidos con terceros.',
    }}
    description="Respondemos habitualmente dentro de las 24 horas hábiles."
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="¡Estamos para ayudarte!"
    items={[
      {
        title: 'Atención general',
        description:
          'Consultanos sobre gestión de cuentas, navegación del sitio, problemas de pago, acceso a productos o cualquier otra duda general sobre nuestro servicio.',
      },
      {
        title: 'Consultas de ventas',
        description:
          'Estamos disponibles para consultas sobre compras, opciones de personalización, licencias comerciales o cualquier pregunta relacionada con nuestros productos.',
      },
      {
        title: 'Soporte técnico',
        description:
          'Si tenés problemas con la instalación de plantillas, edición, compatibilidad o descargas, nuestro equipo técnico está listo para ayudarte.',
      },
      {
        title: 'Teléfono',
        description: '+54 (11) 7503-0988',
        icon: 'tabler:headset',
      },
      {
        title: 'Correo electrónico',
        description: 'info@deiman.com.ar',
        icon: 'tabler:mail',
      },
      {
        title: 'Ubicación',
        description: 'Buenos Aires, Argentina',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
