---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import { headerData } from '~/navigation';
import FlavorRange from '~/components/ui/FlavorRange.astro';
import siropesImage from '~/assets/images/frutales.jpg';
import FindUs from '~/components/widgets/FindUs.astro';
import SupportOverview from '~/components/widgets/SupportOverview.astro';
import FlavorFeatureContainer from '~/components/widgets/FlavorFeatureContainer.astro';
import ContentCarouselFrutales from '~/components/widgets/carousels/ContentCarouselFrutales.astro';

const metadata = {
  title: '¡Descubri nuestros Frutales!',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'primary',
          text: 'Contacto',
          href: '/contact',
        },
      ]}
      isSticky
    />
  </Fragment>

  <ContentCarouselFrutales />

  <FlavorRange
  noAnimation={true}
  id="frutales"
  title='Sabores <span class="text-primary">Frutales</span>'
  subtitle="Refrescantes, intensos y vibrantes"
  tagline="Sabores frutales para productos irresistibles"
  items={[
    {
      title: 'Variedad de perfiles frutales',
      description:
        'Ofrecemos esencias que reproducen con fidelidad sabores como frutilla, limón, naranja, arándano, durazno, frutos rojos o manzana. Cada perfil está formulado para brindar una experiencia sensorial auténtica y fresca, capturando la esencia natural de la fruta.',
    },
    {
      title: 'Diseñadas para alto rendimiento y aplicación directa',
      description:
        'Ideales para jugos, bebidas, helados, gelatinas, yogures o repostería. Nuestras esencias frutales son termoestables y altamente concentradas, diseñadas para mantener un perfil vibrante, su color y su frescura en cualquier matriz.',
    },
  ]}
  callToAction={{ href: '/contacto', text: 'Solicitar catálogo' }}
  image={{
    src: siropesImage,
    alt: 'Imagen de esencias frutales',
  }}
/>







  <!-- sabores wid  **************** -->
  <FlavorFeatureContainer/>

  <FindUs />

  <!-- Support Overview Widget **************** -->
  <SupportOverview/>
</Layout>
