---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import FindUs from '~/components/widgets/FindUs.astro';
import SemiIndustrialFlavorFeatureContainer from '~/components/widgets/SemiIndustrialFlavorFeatureContainer.astro';
import SupportOverview from '~/components/widgets/SupportOverview.astro';
import { headerData } from '~/navigation';

const metadata = {
  title: 'Semi industriales',
  description: 'Sabores flexibles y eficientes para producciones medianas.',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'primary',
          text: 'Contacto',
          href: '/contact',
        },
      ]}
      isSticky
    />
  </Fragment>

  <Hero
    tagline="Semi industriales"
    actions={[
      {
        variant: 'primary',
        text: 'Solicitar catálogo',
        href: '/contact',
      },
      {
        variant: 'secondary',
        text: 'Asesoramiento técnico',
        href: '/contact',
      },
    ]}
  >
    <Fragment slot="title">
      Rendimiento confiable <br />
      <span class="animate-gradient-text font-bold">para producciones medianas</span>
    </Fragment>

    <Fragment slot="subtitle">
      Fórmulas equilibradas con perfiles aromáticos definidos, listas para adaptarse a líneas semi industriales sin
      perder eficiencia ni calidad sensorial.
    </Fragment>

    <Fragment slot="image">
      <img
        src="/images/backgrounds/semi-industriales.jpg"
        alt="Soluciones semi industriales Deiman"
        class="mx-auto rounded-md w-full max-w-4xl"
        loading="eager"
      />
    </Fragment>
  </Hero>

  <SemiIndustrialFlavorFeatureContainer />

  <FindUs />

  <SupportOverview />
</Layout>
