---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';


import { headerData } from '~/navigation';

import FlavorFeature from '~/components/widgets/FlavorFeature.astro';
import ContentCarouselCitricos from '~/components/widgets/carousels/ContentCarouselCitricos.astro';
import FlavorRange from '~/components/ui/FlavorRange.astro';

import citricosImage from '~/assets/images/citricos.png';
import FindUs from '~/components/widgets/FindUs.astro';
import SupportOverview from '~/components/widgets/SupportOverview.astro';

const metadata = {
  title: 'Sabores - Cítricos',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'primary',
          text: 'Contacto',
          href: '/contact',
        },
      ]}
      isSticky
    />
  </Fragment>


  <ContentCarouselCitricos />

  <FlavorRange
  noAnimation={true}
  id="citricos"
  title='Sabores <span class="text-primary">Cítricos</span>'
  subtitle="Frescos, brillantes y equilibrados"
  tagline="Para bebidas, panificados, helados y más"
  items={[
    {
      title: 'Notas naturales y chispeantes',
      description:
        'Las esencias cítricas capturan la frescura del limón, la jugosidad de la naranja y la intensidad del pomelo. También ofrecemos perfiles únicos como manzana verde, uva y pannetone, desarrollados con una excelente salida aromática.',
    },
    {
      title: 'Desarrollos a medida y alta solubilidad',
      description:
        'Nuestra experiencia en formulaciones naturales nos permite ofrecer soluciones específicas para cada aplicación. Ideales para gaseosas, aguas saborizadas, golosinas, premezclas y más.',
    },
  ]}
  callToAction={{ href: '/contacto', text: 'Solicitar catálogo' }}
  image={{
    src: citricosImage,
    alt: 'Imagen de esencias cítricas',
  }}
/>


  <!-- sabores wid  **************** -->
  <FlavorFeature
  id="sabores"
  items={[
      {
        title: 'DULCES',
        image: '/images/sabores/dulces.png',
        href: '/sabores/dulces',
        buttonText: 'Ver sabores',
      },
      {
        title: 'SALADOS',
        image: '/images/sabores/salados.png',
        href: '/sabores/salados',
        buttonText: 'Ver sabores',
      },
      {
        title: 'PANIFICADOS',
        image: '/images/sabores/panificados.png',
        href: '/sabores/panificados',
        buttonText: 'Ver sabores',
      },
      {
        title: 'CÍTRICOS',
        image: '/images/sabores/citricos.png',
        href: '/sabores/citricos',
        buttonText: 'Ver sabores',
      },
      {
        title: 'LABORATORIO',
        image: '/images/sabores/laboratory.png',
        href: '/laboratorio',
        buttonText: 'Descubrí nuestros desarrollos',
        description: 'Desarrollamos sabores y notas personalizadas, adaptándonos a las necesidades de cada cliente.',
      },
  ]}
/>

  <FindUs />

  <!-- Support Overview Widget **************** -->
  <SupportOverview/>
</Layout>
