---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';


import { headerData } from '~/navigation';

import ContentCarouselCitricos from '~/components/widgets/carousels/ContentCarouselCitricos.astro';
import FlavorRange from '~/components/ui/FlavorRange.astro';

import citricosImage from '~/assets/images/citricos.jpg';
import FindUs from '~/components/widgets/FindUs.astro';
import SupportOverview from '~/components/widgets/SupportOverview.astro';
import FlavorFeatureContainer from '~/components/widgets/FlavorFeatureContainer.astro';

const metadata = {
  title: 'Sabores - Cítricos',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'primary',
          text: 'Contacto',
          href: '/contact',
        },
      ]}
      isSticky
    />
  </Fragment>


  <ContentCarouselCitricos />

  <FlavorRange
  noAnimation={true}
  id="citricos"
  title='Sabores <span class="text-primary">Cítricos</span>'
  subtitle="Frescos, brillantes y equilibrados"
  tagline="Para bebidas, panificados, helados y más"
  items={[
    {
      title: 'Notas naturales y chispeantes',
      description:
        'Las esencias cítricas capturan la frescura del limón, la jugosidad de la naranja y la intensidad del pomelo. También ofrecemos perfiles únicos como manzana verde, uva y pannetone, desarrollados con una excelente salida aromática.',
    },
    {
      title: 'Desarrollos a medida y alta solubilidad',
      description:
        'Nuestra experiencia en formulaciones naturales nos permite ofrecer soluciones específicas para cada aplicación. Ideales para gaseosas, aguas saborizadas, golosinas, premezclas y más.',
    },
  ]}
  callToAction={{ href: '/contacto', text: 'Solicitar catálogo' }}
  image={{
    src: citricosImage,
    alt: 'Imagen de esencias cítricas',
  }}
/>


  <!-- sabores wid  **************** -->
  <FlavorFeatureContainer/>

  <FindUs />

  <!-- Support Overview Widget **************** -->
  <SupportOverview/>
</Layout>
