---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import { headerData } from '~/navigation';
import FlavorFeature from '~/components/widgets/FlavorFeature.astro';
import ContentCarouselSalados from '~/components/widgets/carousels/ContentCarouselSalados.astro';
import FlavorRange from '~/components/ui/FlavorRange.astro';
import saladosImage from '~/assets/images/salados.png';
import FindUs from '~/components/widgets/FindUs.astro';
import SupportOverview from '~/components/widgets/SupportOverview.astro';

const metadata = {
  title: 'Sabores - Salados',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'primary',
          text: 'Contacto',
          href: '/contact',
        },
      ]}
      isSticky
    />
  </Fragment>

  <ContentCarouselSalados />

  <FlavorRange
  noAnimation={true}
  id="salados"
  title='Sabores <span class="text-primary">Salados</span>'
  subtitle="Intensos, auténticos y sabrosos"
  tagline="Para productos con identidad y carácter"
  items={[
    {
      title: 'Perfiles naturales y diferenciados',
      description:
        'Creamos esencias que reproducen de forma precisa sabores como ajo, cebolla, panceta, jamón, queso parmesano o barbacoa. Cada perfil está desarrollado con ingredientes seleccionados, respetando la naturalidad y profundidad sensorial del sabor real.',
    },
    {
      title: 'Funcionales y adaptables a diversas aplicaciones',
      description:
        'Ideales para snacks, sopas, aderezos, rellenos, copetín o premezclas saladas. Nuestras esencias saladas son termoestables, de alta concentración y adecuadas para matrices grasas, líquidas o secas, manteniendo su perfil en cada uso.',
    },
  ]}
  callToAction={{ href: '/contacto', text: 'Solicitar catálogo' }}
  image={{
    src: saladosImage,
    alt: 'Imagen de esencias saladas',
  }}
/>





  <!-- sabores wid  **************** -->
  <FlavorFeature
  id="sabores"
  items={[
      {
        title: 'DULCES',
        image: '/images/sabores/dulces.png',
        href: '/sabores/dulces',
        buttonText: 'Ver sabores',
      },
      {
        title: 'SALADOS',
        image: '/images/sabores/salados.png',
        href: '/sabores/salados',
        buttonText: 'Ver sabores',
      },
      {
        title: 'PANIFICADOS',
        image: '/images/sabores/panificados.png',
        href: '/sabores/panificados',
        buttonText: 'Ver sabores',
      },
      {
        title: 'CÍTRICOS',
        image: '/images/sabores/citricos.png',
        href: '/sabores/citricos',
        buttonText: 'Ver sabores',
      },
      {
        title: 'LABORATORIO',
        image: '/images/sabores/laboratory.png',
        href: '/laboratorio',
        buttonText: 'Descubrí nuestros desarrollos',
        description: 'Desarrollamos sabores y notas personalizadas, adaptándonos a las necesidades de cada cliente.',
      },
  ]}
/>

  <FindUs />

  <!-- Support Overview Widget **************** -->
  <SupportOverview/>
</Layout>
