---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import { headerData } from '~/navigation';
import ContentCarouselSalados from '~/components/widgets/carousels/ContentCarouselSalados.astro';
import FlavorRange from '~/components/ui/FlavorRange.astro';
import saladosImage from '~/assets/images/salados.jpg';
import FindUs from '~/components/widgets/FindUs.astro';
import SupportOverview from '~/components/widgets/SupportOverview.astro';
import FlavorFeatureContainer from '~/components/widgets/FlavorFeatureContainer.astro';

const metadata = {
  title: 'Sabores - Salados',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'primary',
          text: 'Contacto',
          href: '/contact',
        },
      ]}
      isSticky
    />
  </Fragment>

  <ContentCarouselSalados />

  <FlavorRange
  noAnimation={true}
  id="salados"
  title='Sabores <span class="text-primary">Salados</span>'
  subtitle="Intensos, auténticos y sabrosos"
  tagline="Para productos con identidad y carácter"
  items={[
    {
      title: 'Perfiles naturales y diferenciados',
      description:
        'Creamos esencias que reproducen de forma precisa sabores como ajo, cebolla, panceta, jamón, queso parmesano o barbacoa. Cada perfil está desarrollado con ingredientes seleccionados, respetando la naturalidad y profundidad sensorial del sabor real.',
    },
    {
      title: 'Funcionales y adaptables a diversas aplicaciones',
      description:
        'Ideales para snacks, sopas, aderezos, rellenos, copetín o premezclas saladas. Nuestras esencias saladas son termoestables, de alta concentración y adecuadas para matrices grasas, líquidas o secas, manteniendo su perfil en cada uso.',
    },
  ]}
  callToAction={{ href: '/contacto', text: 'Solicitar catálogo' }}
  image={{
    src: saladosImage,
    alt: 'Imagen de esencias saladas',
  }}
/>





  <!-- sabores wid  **************** -->
  <FlavorFeatureContainer/>

  <FindUs />

  <!-- Support Overview Widget **************** -->
  <SupportOverview/>
</Layout>
